/* [project]/src/styles/globals.css [app-client] (css) */
*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: var(--font-geist-sans);
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.inset-\[--cut\] {
  inset: var(--cut);
}

.-top-4 {
  top: -1rem;
}

.left-1\/2 {
  left: 50%;
}

.left-56 {
  left: 14rem;
}

.left-8 {
  left: 2rem;
}

.left-\[calc\(var\(--x\)\*1\%\)\] {
  left: calc(var(--x) * 1%);
}

.top-1\/2 {
  top: 50%;
}

.top-\[calc\(var\(--y\)\*1\%\)\] {
  top: calc(var(--y) * 1%);
}

.-z-10 {
  z-index: -10;
}

.-z-20 {
  z-index: -20;
}

.z-10 {
  z-index: 10;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-16 {
  margin-top: 4rem;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.aspect-square {
  aspect-ratio: 1;
}

.size-full {
  width: 100%;
  height: 100%;
}

.h-14 {
  height: 3.5rem;
}

.h-\[169\%\] {
  height: 169%;
}

.min-h-screen {
  min-height: 100vh;
}

.w-\[200\%\] {
  width: 200%;
}

.w-\[84\%\] {
  width: 84%;
}

.w-\[calc\(var\(--size\,0\.25\)\*1rem\)\] {
  width: calc(var(--size, .25) * 1rem);
}

.w-full {
  width: 100%;
}

.max-w-lg {
  max-width: 32rem;
}

.origin-\[var\(--origin-x\,1000\%\)_var\(--origin-y\,1000\%\)\] {
  transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[2\%\] {
  --tw-translate-x: 2%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-6\%\] {
  --tw-translate-y: -6%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[calc\(1\+var\(--active\)\*0\.1\)\] {
  --tw-scale-x: calc(1 + var(--active) * .1);
  --tw-scale-y: calc(1 + var(--active) * .1);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.animate-flip {
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes float-out {
  to {
    rotate: 360deg;
  }
}

.animate-float-out {
  animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s) infinite linear;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%)scale(.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -40%)scale(1);
  }
}

.animate-spotlight {
  animation: 2s .75s forwards spotlight;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[0\.25em\] {
  gap: .25em;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[100px\] {
  border-radius: 100px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: .75rem;
}

.border {
  border-width: 1px;
}

.border-zinc-700 {
  --tw-border-opacity: 1;
  border-color: rgb(63 63 70 / var(--tw-border-opacity));
}

.bg-\[\#020202\] {
  --tw-bg-opacity: 1;
  background-color: rgb(2 2 2 / var(--tw-bg-opacity));
}

.bg-\[\#151414\] {
  --tw-bg-opacity: 1;
  background-color: rgb(21 20 20 / var(--tw-bg-opacity));
}

.bg-\[linear-gradient\(90deg\,hsl\(0_0\%_calc\(\(var\(--active\)\*100\%\)\+65\%\)\)\,hsl\(0_0\%_calc\(\(var\(--active\)\*100\%\)\+36\%\)\)\)\] {
  background-image: linear-gradient(90deg, hsl(0 0% calc((var(--active) * 100%)  + 65%)), hsl(0 0% calc((var(--active) * 100%)  + 36%)));
}

.fill-\[hsl\(0_0\%_90\%\)\] {
  fill: #e6e6e6;
}

.fill-white {
  fill: #fff;
}

.stroke-none {
  stroke: none;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.font-sans {
  font-family: var(--font-geist-sans);
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.tracking-\[0\.01ch\] {
  letter-spacing: .01ch;
}

.text-\[\#a1a1a1\] {
  --tw-text-opacity: 1;
  color: rgb(161 161 161 / var(--tw-text-opacity));
}

.text-transparent {
  color: #0000;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-zinc-100 {
  --tw-text-opacity: 1;
  color: rgb(244 244 245 / var(--tw-text-opacity));
}

.text-zinc-300 {
  --tw-text-opacity: 1;
  color: rgb(212 212 216 / var(--tw-text-opacity));
}

.opacity-0 {
  opacity: 0;
}

.opacity-\[var\(--active\,0\)\] {
  opacity: var(--active, 0);
}

.opacity-\[var\(--alpha\,1\)\] {
  opacity: var(--alpha, 1);
}

.shadow-\[0_0_calc\(var\(--active\)\*6em\)_calc\(var\(--active\)\*3em\)_hsl\(0_0\%_13\.08\%\/75\%\)\,0_0\.05em_0_0_hsl\(0_0\%_calc\(\(var\(--active\)\*20\%\)\+30\%\)\)_inset\,0_-0\.05em_0_0_hsl\(0_0\%_calc\(var\(--active\)\*30\%\)\)_inset\] {
  --tw-shadow: 0 0 calc(var(--active) * 6em) calc(var(--active) * 3em) #212121bf, 0 .05em 0 0 hsl(0 0% calc((var(--active) * 20%)  + 30%)) inset, 0 - .05em 0 0 hsl(0 0% calc(var(--active) * 30%)) inset;
  --tw-shadow-colored: 0 0 var(--tw-shadow-color), inset 0 .05em 0 0 var(--tw-shadow-color), inset 0 .05em 0 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-\[background_var\(--transition\)\] {
  transition-property: background var(--transition);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-\[shadow_var\(--transition\,scale_var\(--transition\)\,background_var\(--transition\)\)\] {
  transition-property: shadow var(--transition, scale var(--transition), background var(--transition));
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.duration-300 {
  transition-duration: .3s;
}

.\[--active\:0\] {
  --active: 0;
}

.\[--bg\:radial-gradient\(80\%_100\%_at_center_120\%\,hsl\(0_0\%_20\%\/var\(--active\)\)\,transparent\)\,hsl\(260_0\%_12\%\)\] {
  --bg: radial-gradient(80% 100% at center 120%, hsl(0 0% 20% / var(--active)), transparent), #1f1f1f;
}

.\[--cut\:0\.1em\] {
  --cut: .1em;
}

.\[--spark\:1\.8s\] {
  --spark: 1.8s;
}

.\[--transition\:0\.25s\] {
  --transition: .25s;
}

.\[-webkit-background-clip\:text\] {
  -webkit-background-clip: text;
}

.\[-webkit-mask\:radial-gradient\(white\,transparent_65\%\)\] {
  -webkit-mask: radial-gradient(#fff, #0000 65%);
}

.\[animation-play-state\:var\(--play-state\,_paused\)\] {
  animation-play-state: var(--play-state, paused);
}

.\[background\:--bg\] {
  background: var(--bg);
}

.\[mask\:linear-gradient\(white\,transparent_50\%\)\] {
  -webkit-mask: linear-gradient(#fff, #0000 50%);
  mask: linear-gradient(#fff, #0000 50%);
}

.\[rotate\:0deg\] {
  rotate: none;
}

.\[transition\:opacity_var\(--transition\)\] {
  transition: opacity var(--transition);
}

.before\:absolute:before {
  content: var(--tw-content);
  position: absolute;
}

.before\:inset-\[-0\.25em\]:before {
  content: var(--tw-content);
  inset: -.25em;
}

.before\:left-1\/2:before {
  content: var(--tw-content);
  left: 50%;
}

.before\:top-0:before {
  content: var(--tw-content);
  top: 0;
}

.before\:-z-10:before {
  content: var(--tw-content);
  z-index: -10;
}

.before\:aspect-square:before {
  content: var(--tw-content);
  aspect-ratio: 1;
}

.before\:w-\[200\%\]:before {
  content: var(--tw-content);
  width: 200%;
}

@keyframes rotate {
  to {
    content: var(--tw-content);
    transform: rotate(90deg);
  }
}

.before\:animate-rotate:before {
  content: var(--tw-content);
  animation: rotate var(--spark) linear infinite both;
}

.before\:rounded-\[100px\]:before {
  content: var(--tw-content);
  border-radius: 100px;
}

.before\:border-\[0\.25em\]:before {
  content: var(--tw-content);
  border-width: .25em;
}

.before\:border-solid:before {
  content: var(--tw-content);
  border-style: solid;
}

.before\:border-\[hsl\(0_0\%_20\.08\%\/0\.5\)\]:before {
  content: var(--tw-content);
  border-color: #33333380;
}

.before\:bg-\[conic-gradient\(from_0deg\,transparent_0_340deg\,white_360deg\)\]:before {
  content: var(--tw-content);
  background-image: conic-gradient(from 0deg, transparent 0 340deg, white 360deg);
}

.before\:opacity-\[calc\(var\(--active\)\+0\.4\)\]:before {
  content: var(--tw-content);
  opacity: calc(var(--active)  + .4);
}

.before\:opacity-\[var\(--active\,0\)\]:before {
  content: var(--tw-content);
  opacity: var(--active, 0);
}

.before\:transition-\[opacity_var\(--transition\)\]:before {
  content: var(--tw-content);
  transition-property: opacity var(--transition);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

.before\:\[transform\:rotate\(-90deg\)\]:before {
  content: var(--tw-content);
  transform: rotate(-90deg);
}

.before\:\[transition\:opacity_var\(--transition\)\]:before {
  content: var(--tw-content);
  transition: opacity var(--transition);
}

.before\:\[translate\:-50\%_-15\%\]:before {
  content: var(--tw-content);
  translate: -50% -15%;
}

.after\:absolute:after {
  content: var(--tw-content);
  position: absolute;
}

.after\:inset-\[--cut\]:after {
  content: var(--tw-content);
  inset: var(--cut);
}

.after\:rounded-\[100px\]:after {
  content: var(--tw-content);
  border-radius: 100px;
}

.even\:\[animation-direction\:reverse\]:nth-child(2n) {
  animation-direction: reverse;
}

.hover\:border-zinc-500:hover {
  --tw-border-opacity: 1;
  border-color: rgb(113 113 122 / var(--tw-border-opacity));
}

.hover\:\[--active\:1\]:hover {
  --active: 1;
}

.hover\:\[--play-state\:running\]:hover {
  --play-state: running;
}

.active\:scale-100:active {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:hover ~ .peer-hover\:\[--active\:1\] {
  --active: 1;
}

.peer:hover ~ .peer-hover\:\[--play-state\:running\] {
  --play-state: running;
}

/*# sourceMappingURL=src_styles_globals_b52d8e.css.map*/